## In this notebook, we will scrap the data from the Ambitionbox.com which shows the company, their ratings and others, etc

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)'}
webPage = requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=1', headers=headers).text

In [4]:
soup = BeautifulSoup(webPage, 'lxml')

In [18]:
# print(soup.prettify())      # prettify() --> this will write the html code in the pretty manner

soup.find_all('h1')[0].text.strip()

'Top Companies in\n\t\t\t\t \n\t\t\t\t\tINDIA'

## Scraping the company names

In [14]:
for i in soup.find_all('h2'):
    print(i.text.strip())

Companies in India
TCS
Accenture
Wipro
Cognizant
Capgemini
HDFC Bank
Infosys
ICICI Bank
HCLTech
Tech Mahindra
Genpact
Teleperformance
Axis Bank
Jio
Concentrix Corporation
Amazon
iEnergizer
Reliance Retail
LTIMindtree
IBM
Popular Collections by Industries
Popular Collections by Cities
Popular Collections by Roles

## Scraping the ratings

In [44]:
# for i in soup.find_all('div'):
#     print(i.text.strip())

soup.find_all('div', class_= 'rating_text')

[<div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.3<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.7<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.6<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.6<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.7<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.8<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.5<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			4.0<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.4<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.4<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.6<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.8<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.6<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			4.4<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.6<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.9<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			4.6<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.9<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.6<!-- --></div></div>,
 <div class="rating_text rating_text--md"><div style="height:auto;padding-bottom:1px;">
 			3.9<!-- --></div></div>]

## Scraping the rating_reviews

In [28]:
len(soup.find_all('span', class_='companyCardWrapper__companyRatingCount'))

20

## Now, we will scrap the entire block1, which have all the informartion like rating, reviews, place, salary, etc

In [31]:
company_data = soup.find_all('div', class_= 'companyCardWrapper')
len(company_data)

20

In [76]:
company_name = []
ratings = []
reviews = []
company_type = []
locations = []

for i in company_data:
    company_name.append(i.find('h2').text.strip())
    ratings.append(i.find('div', class_= 'rating_text').text.strip())
    reviews.append(i.find('span', class_= 'companyCardWrapper__companyRatingCount').text.strip())
    company_type.append(i.find_all('span', class_= 'companyCardWrapper__interLinking')[0].text.split('|')[0].strip())
    locations.append(i.find_all('span', class_= 'companyCardWrapper__interLinking')[0].text.split('|')[-1].strip())

d = {'company_name': company_name, 'rating': ratings, 'reviews': reviews, 'company_type': company_type, 'locations': locations}
df = pd.DataFrame(d)
df

,company_name,rating,reviews,company_type,locations
0,TCS,3.3,(1.1L),IT Services & Consulting,Bangalore / Bengaluru +439 other locations
1,Accenture,3.7,(71.2k),IT Services & Consulting,Bangalore / Bengaluru +255 other locations
2,Wipro,3.6,(63.4k),IT Services & Consulting,Hyderabad / Secunderabad +370 other locations
3,Cognizant,3.6,(59.7k),IT Services & Consulting,Hyderabad / Secunderabad +229 other locations
4,Capgemini,3.7,(51.6k),IT Services & Consulting,Bangalore / Bengaluru +184 other locations
5,HDFC Bank,3.8,(50.7k),Banking,Mumbai +1821 other locations
6,Infosys,3.5,(47.2k),IT Services & Consulting,Bangalore / Bengaluru +246 other locations
7,ICICI Bank,4.0,(45.2k),Banking,Mumbai +1438 other locations
8,HCLTech,3.4,(44.5k),IT Services & Consulting,Chennai +226 other locations
9,Tech Mahindra,3.4,(42.3k),IT Services & Consulting,Hyderabad / Secunderabad +331 other locations
10,Genpact,3.6,(40.8k),IT Services & Consulting,Hyderabad / Secunderabad +182 other locations
11,Teleperformance,3.8,(36.5k),BPO,Mumbai +254 other locations
12,Axis Bank,3.6,(32.3k),Banking,Mumbai +1499 other locations
13,Jio,4.4,(32.2k),Telecom,Mumbai +1895 other locations
14,Concentrix Corporation,3.6,(31.5k),BPO,Bangalore / Bengaluru +177 other locations
15,Amazon,3.9,(30.7k),Internet,Bangalore / Bengaluru +518 other locations
16,iEnergizer,4.6,(27.1k),BPO,Noida +51 other locations
17,Reliance Retail,3.9,(26.9k),Retail,Mumbai +1152 other locations
18,LTIMindtree,3.6,(25.8k),IT Services & Consulting,Bangalore / Bengaluru +146 other locations
19,IBM,3.9,(25.3k),IT Services & Consulting,Bangalore / Bengaluru +160 other locations

In [78]:
df.shape

(20, 5)

In [ ]:
# company_name
# ratings
# reviews
# company_type
# locations

['IT Services & Consulting',
 'IT Services & Consulting',
 'IT Services & Consulting',
 'IT Services & Consulting',
 'IT Services & Consulting',
 'Banking',
 'IT Services & Consulting',
 'Banking',
 'IT Services & Consulting',
 'IT Services & Consulting',
 'IT Services & Consulting',
 'BPO',
 'Banking',
 'Telecom',
 'BPO',
 'Internet',
 'BPO',
 'Retail',
 'IT Services & Consulting',
 'IT Services & Consulting']

## Now, for all the pages

In [81]:
final_data = pd.DataFrame()
for j in range(1, 300):

    url = 'https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={}'.format(j)

    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)'}
    webPage = requests.get(url, headers=headers).text

    soup = BeautifulSoup(webPage, 'lxml')
    company_data = soup.find_all('div', class_= 'companyCardWrapper')

    company_name = []
    ratings = []
    reviews = []
    company_type = []
    locations = []

    for i in company_data:
        company_name.append(i.find('h2').text.strip())
        ratings.append(i.find('div', class_= 'rating_text').text.strip())
        reviews.append(i.find('span', class_= 'companyCardWrapper__companyRatingCount').text.strip())
        company_type.append(i.find_all('span', class_= 'companyCardWrapper__interLinking')[0].text.split('|')[0].strip())
        locations.append(i.find_all('span', class_= 'companyCardWrapper__interLinking')[0].text.split('|')[-1].strip())

    d = {'company_name': company_name, 'rating': ratings, 'reviews': reviews, 'company_type': company_type, 'locations': locations}
    df = pd.DataFrame(d)

    final_data=pd.concat([final_data, df], ignore_index=True)

In [82]:
final_data.shape

(5980, 5)

In [84]:
final_data.tail()

,company_name,rating,reviews,company_type,locations
5975,Invenio Business Solutions,3.5,(181),IT Services & Consulting,Hyderabad / Secunderabad +6 other locations
5976,Vehere Technologies,4.4,(181),IT Services & Consulting,Kolkata +7 other locations
5977,SrinSoft Technologies,3.4,(181),IT Services & Consulting,Chennai +5 other locations
5978,The Pride Hotel,3.1,(181),Hospitality,Pune +22 other locations
5979,Ambuja Cement Foundation,3.8,(181),Non-Profit,Jaipur +62 other locations

In [87]:
final_data.to_excel('Company_data.xlsx', index=False)